:root {
  --font-primary: 'Inter', Arial, Helvetica, sans-serif;
  --font-accent: 'PressStart2P', Courier, Monaco, monospace;

  --font-weight-text: 'wght' 400;
  --font-weigth-heading: 'wght' 700;

  --color-bg: #fff;
  --color-text: #000;

  --gradient-default-color: #d3d3d3;
  --gradient-color-start: #e7e7e7;
  --gradient-color-end: #1a1a1a;

  --min-inline-size: 375px;
  --max-inline-size: 1440px;
  --default-inline-size: 48.612%;
}
